
/* Main Content */
main {
    padding: 20px;
}

/* Flex utilities */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

/* Titles and text */
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.subtitle {
    font-size: 1.125rem;
    text-align: center;
}

/* Contact Form */
.contact-form {
    width: 100%;
    max-width: 32rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 16px;
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 8px;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.textarea {
    resize: vertical;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: rgb(53, 62, 93);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Arrow image */
.arrow-img {
    width: 2rem;
    margin-bottom: 8px;
}

.github-button{
    text-decoration: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.linkedin-button{
    text-decoration: none;
    background-color: #0077b5;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}